@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Hvis du har glemt hvor du arbejder eller hvordan du skal kontakte hos:</h3>

<address>
    Albertslundvej 10<br />
    2620 Albertslund<br />
    <abbr title="Phone">Telefonnummer: 20402030</abbr>

</address>

<address>
    <p id="name"><b>Navn:</b> </p>
    <p id="position"><b>Stiling:</b> </p>
    <p id="phone"><b>Telefon:</b> </p>

</address>
